<div class="pull-right d-none d-sm-inline-block">
  <ul
    class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end"
  >
    <li class="nav-item">
      <a class="nav-link" href="#" target="_blank">Policy</a>
    </li>
  </ul>
</div>

Solaris Finance. All Rights Reserved.

<!-- Vendor JS -->
<script src="/js/vendors.min.js"></script>
<script src="/js/pages/chat-popup.js"></script>
<script src="/assets/icons/feather-icons/feather.min.js"></script>
<script src="/assets/icons/feather-icons/feather.min.js"></script>
<script src="/assets/icons/feather-icons/feather.min.js"></script>
<script src="/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
<script src="/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<script src="/assets/vendor_components/select2/dist/js/select2.full.js"></script>
<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="/assets/vendor_components/moment/min/moment.min.js"></script>
<script src="/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/assets/vendor_plugins/iCheck/icheck.min.js"></script>
<!-- InvestX pp -->
<script src="/js/demo.js"></script>
<script src="/js/template.js"></script>
<script src="/js/pages/advanced-form-element.js"></script>
