<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<head>
  <link rel="icon" href="images/favicon.png" />

  <title>Solaris - Dashboard</title>

  <!-- Vendors Style-->
  <link rel="stylesheet" href="/css/vendors_css.css" />
  <link rel="stylesheet" href="/css/validation.css" />
  <link rel="stylesheet" href="/css/alert.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/skin_color.css" />
</head>
<div class="d-flex align-items-center logo-box justify-content-start">
  <!-- Logo -->
  <a href="/dashboard" class="logo">
    <!-- logo-->
    <div class="logo-mini w-40">
      <span class="light-logo"
        ><img src="/images/favicon.png" alt="logo"
      /></span>
      <span class="dark-logo"
        ><img src="/images/favicon.png" alt="logo"
      /></span>
    </div>
    <div class="logo-lg">
      <span class="light-logo"
        ><img src="/images/blacktrans.png" alt="logo"
      /></span>
      <span class="dark-logo"
        ><img src="/images/logo_white.png" alt="logo"
      /></span>
    </div>
  </a>
</div>
<nav class="navbar navbar-static-top">
  <!-- Sidebar toggle button-->
  <div class="app-menu">
    <ul class="header-megamenu nav">
      <li class="btn-group nav-item">
        <a
          href="#"
          class="waves-effect waves-light nav-link push-btn btn-primary-light"
          data-toggle="push-menu"
          role="button"
        >
          <i data-feather="menu"></i>
        </a>
      </li>
      <li class="btn-group d-lg-inline-flex d-none">
        <div class="app-menu">
          <div class="search-bx mx-5">
            <form>
              <div class="input-group">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search"
                />
                <div class="input-group-append">
                  <button class="btn" type="submit" id="button-addon3">
                    <i class="icon-Search"
                      ><span class="path1"></span><span class="path2"></span
                    ></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="navbar-custom-menu r-side">
    <ul class="nav navbar-nav">
      <li class="btn-group d-md-inline-flex d-none">
        <label class="switch">
          <span class="waves-effect skin-toggle waves-light">
            <input
              type="checkbox"
              data-mainsidebarskin="toggle"
              id="toggle_left_sidebar_skin"
            />
            <span class="switch-on"><i data-feather="moon"></i></span>
            <span class="switch-off"><i data-feather="sun"></i></span>
          </span>
        </label>
      </li>

      <li class="btn-group nav-item d-xl-inline-flex d-none">
        <a
          href="#"
          data-provide="fullscreen"
          class="waves-effect waves-light nav-link btn-primary-light svg-bt-icon"
          title="Full Screen"
        >
          <i data-feather="maximize"></i>
        </a>
      </li>

      <li class="btn-group d-xl-inline-flex d-none">
        <a
          href="#"
          class="waves-effect waves-light nav-link btn-primary-light svg-bt-icon dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          <img class="rounded" src="/images/avatar/avatar-13.png" alt="" />
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item my-5" href="/user/profile">
            <i data-feather="user">-</i>
            Profile</a
          >
          <hr />
          <a class="dropdown-item my-5" href="/user/logout">
            <i data-feather="log-out"></i>
            Logout</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- Header Navbar -->
