<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/validation.css" />
  </head>

  <body
    class="hold-transition theme-primary bg-img"
    style="background-image: url(../../../images/auth-bg/bg-16.jpg)"
  >
    <div class="container h-p100">
      <div class="row align-items-center justify-content-md-center h-p100">
        <div class="col-12">
          <div class="row justify-content-center g-0">
            <div class="col-lg-5 col-md-5 col-12">
              <div class="bg-white rounded10 shadow-lg">
                <div class="content-top-agile p-20 pb-0">
                  <img src="/images/blacktrans.png" alt="logo" width="300" />
                </div>
                <div class="p-40">
                  <form
                    class="rform__modified"
                    action="/user/register"
                    method="post"
                  >
                    <div class="form-group">
                      <div class="input-group mb-3" id="name__error">
                        <span class="input-group-text bg-transparent"
                          ><i class="text-fade ti-user"></i
                        ></span>
                        <input
                          type="text"
                          name="fullName"
                          class="form-control ps-15 bg-transparent"
                          placeholder="Full Name"
                          id="fullName"
                        />
                      </div>
                      <span class="error" id="nameError"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group mb-3" id="email__error">
                        <span class="input-group-text bg-transparent"
                          ><i class="text-fade ti-email"></i
                        ></span>
                        <input
                          type="email"
                          name="email"
                          class="form-control ps-15 bg-transparent"
                          placeholder="Email"
                          id="email"
                          required
                        />
                      </div>
                      <span class="error" id="emailError"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group mb-3" id="password__error">
                        <span class="input-group-text bg-transparent"
                          ><i class="text-fade ti-lock"></i
                        ></span>
                        <input
                          type="password"
                          class="form-control ps-15 bg-transparent"
                          placeholder="Password"
                          id="password"
                          name="password"
                          required
                        />
                        <i
                          class="password-toggle fas fa-eye-slash"
                          onclick="togglePasswordVisibility()"
                        ></i>
                      </div>
                      <span class="error" id="passwordError"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group mb-3" id="password__c__error">
                        <span class="input-group-text bg-transparent"
                          ><i class="text-fade ti-lock"></i
                        ></span>
                        <input
                          type="password"
                          class="form-control ps-15 bg-transparent"
                          placeholder="Retype Password"
                          id="passwordConfirm"
                          name="passwordConfirm"
                          required
                        />
                        <i
                          class="passwordConfirm-toggle fas fa-eye-slash"
                          onclick="togglePasswordVisibilityX()"
                        ></i>
                      </div>
                      <span class="error" id="passwordConfirmError"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <span class="input-group-text bg-transparent"
                          ><i class="text-fade ti-briefcase"></i
                        ></span>
                        <input
                          type="text"
                          class="form-control ps-15 bg-transparent"
                          placeholder="Business"
                          value="Business"
                          disabled
                          id="role"
                          name="role"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div class="checkbox">
                          <input
                            type="checkbox"
                            id="basic_checkbox_1"
                            required
                          />
                          <label for="basic_checkbox_1"
                            >I agree to the
                            <a href="#" class="text-primary text-warning"
                              >Terms</a
                            ></label
                          >
                        </div>
                      </div>
                      <span class="error" id="checkError"></span>
                      <!-- /.col -->
                      <div class="col-12 text-center">
                        <button
                          type="submit"
                          class="waves-effect waves-light btn mb-5 bg-gradient-warning w-p100 mt-10"
                          onclick="validateForm(event)"
                        >
                          REGISTER
                        </button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                  <div class="text-center">
                    <p class="mt-15 mb-0 text-fade">
                      Already have an account?<a
                        href="/user/login"
                        class="text-primary ms-5 text-warning"
                        >Sign In</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor JS -->
    <script src="/js/registerval.js"></script>

    <script src="/js/vendors.min.js"></script>
    <script src="/js/pages/chat-popup.js"></script>
    <script src="/assets/icons/feather-icons/feather.min.js"></script>
  </body>
</html>
