<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .password-toggle-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        z-index: 99999999;
      }
      .error .input-group-text {
        border-color: red;
      }

      .error .is-invalid {
        border-color: red;
      }
      .error-message {
        color: red;
      }
    </style>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <header class="main-header">
        <!-- header -->
        <%- include('layouts/header') %>
      </header>

      <aside class="main-sidebar" style="border-right: 1px solid #cbcbcb">
        <!-- sidebar-->
        <%- include('layouts/aside') %>
      </aside>

      <div
        class="content-wrapper bg-white"
        style="border-radius: 0; border-top: 1px solid #cbcbcb"
      >
        <div class="container mt-30">
          <img
            src="/images/header/Change_Password_Web.png"
            alt="refaral"
            srcset=""
          />
          <section class="content">
           
             <div class="col-12 col-md-6">
              <div class="mt-20" style="border: 1px solid #cbcbcb">
                <div class="card-body">
                    <div class="tab-pane" id="settings">
                    <form class="change__password" method="POST" action="/user/change-password">
  <p class="mb-4">Please provide your <strong >Current Password </strong> update your password</p>
  
  <div class="row">
    <div class="input-group">
      <div class="col-12">
        <div class="mb-20">
          <label for="currentpassword">Current Password:</label>
          <input
            type="password"
            class="form-control"
            id="currentpassword"
            name="currentPassword"
            placeholder="Current Password"
          />
          <span class="password-toggle-icon" onclick="togglePasswordVisibility('currentpassword')">
            <i class="fa fa-eye"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="col-12">
        <div class="mb-20">
          <label for="newpassword">New Password:</label>
          <input
            type="password"
            class="form-control"
            id="newpassword"
            name="newPassword"
            placeholder="New Password"
          />
          <span class="password-toggle-icon" onclick="togglePasswordVisibility('newpassword')">
            <i class="fa fa-eye"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="col-12">
        <div class="mb-10">
          <label for="confirmpassword">Confirm New Password:</label>
          <input
            type="password"
            class="form-control"
            id="confirmpassword"
            name="newPasswordConfirm"
            placeholder="Confirm New Password"
          />
          <span class="password-toggle-icon" onclick="togglePasswordVisibility('confirmpassword')">
            <i class="fa fa-eye"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="text-end">
    <button type="submit" class="btn btn-primary mt-2 bg-gradient-info-dark">
      <i class="mdi mdi-content-save"></i> Update Password
    </button>
  </div>
</form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <script>
        function togglePasswordVisibility(inputId) {
          const input = document.getElementById(inputId);
          const icon = input.nextElementSibling.querySelector('i');
          if (input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
          } else {
            input.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
          }
        }
      </script>
      <footer class="main-footer bg-white">
        <!-- footer -->
        <%- include('layouts/footer') %>
      </footer>
    </div>
  </body>
</html>
