<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .password-toggle-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        z-index: 99999999;
      }
      .error .input-group-text {
        border-color: red;
      }

      .error .is-invalid {
        border-color: red;
      }
      .error-message {
        color: red;
      }
    </style>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <header class="main-header">
        <!-- header -->
        <%- include('layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar -->
        <%- include('layouts/aside') %>
      </aside>

      <div class="content-wrapper">
        <div class="container-full">
          <section class="content">
            <div class="row">
              <div class="col-xl-6 col-lg-7">
                <div class="card">
                  <div class="card-body">
                    <div class="tab-pane" id="settings">
                      <form
                        class="change__password"
                        method="POST"
                        action="/user/change-password"
                      >
                        <h5 class="mb-4 text-uppercase">
                          Please provide your Current Password to update your
                          password
                        </h5>
                        <div class="row">
                          <div class="input-group">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <input
                                  type="password"
                                  class="form-control"
                                  id="currentpassword"
                                  name="currentPassword"
                                  placeholder="Current Password"
                                />
                                <span
                                  class="password-toggle-icon"
                                  onclick="togglePasswordVisibility('currentpassword')"
                                >
                                  <i class="fa fa-eye"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="input-group">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <input
                                  type="password"
                                  class="form-control"
                                  id="newpassword"
                                  name="newPassword"
                                  placeholder="New Password"
                                />
                                <span
                                  class="password-toggle-icon"
                                  onclick="togglePasswordVisibility('newpassword')"
                                >
                                  <i class="fa fa-eye"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="input-group">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <input
                                  type="password"
                                  class="form-control"
                                  id="confirmpassword"
                                  name="newPasswordConfirm"
                                  placeholder="Confirm New Password"
                                />
                                <span
                                  class="password-toggle-icon"
                                  onclick="togglePasswordVisibility('confirmpassword')"
                                >
                                  <i class="fa fa-eye"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="text-end">
                          <button
                            type="submit"
                            class="btn btn-primary mt-2 bg-gradient-warning"
                          >
                            <i class="mdi mdi-content-save"></i> Update Password
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <script>
        function togglePasswordVisibility(inputId) {
          const input = document.getElementById(inputId);
          const icon = input.nextElementSibling.querySelector('i');
          if (input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
          } else {
            input.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
          }
        }
      </script>
      <footer class="main-footer">
        <!-- footer -->
        <%- include('layouts/footer') %>
      </footer>
    </div>
  </body>
</html>
