<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
  </head>
  <style>
    .error .input-group-text {
      border-color: red;
    }

    .error .is-invalid {
      border-color: red;
    }
    .error-message {
      color: red;
    }
  </style>
  <body
    class="hold-transition theme-primary bg-img"
    style="background-image: url(../../../images/auth-bg/bg-16.jpg)"
  >
    <div class="container h-p100">
      <div class="row align-items-center justify-content-md-center h-p100">
        <div class="col-12">
          <div class="row justify-content-center g-0">
            <div class="col-lg-5 col-md-5 col-12">
              <div class="bg-white rounded10 shadow-lg">
                <div class="content-top-agile p-20 pb-0">
                  <h2 class="mb-10 fw-600 text-primary text-warning">
                    Forgot Password ?
                  </h2>
                  <p class="mb-0 text-fade">
                    Enter your email to reset your password.
                  </p>
                </div>
                <div class="p-40">
                  <form
                    class="forget_password"
                    action="/user/forget-password"
                    method="post"
                  >
                    <div class="form-group">
                      <% if (error) { %>
                      <div class="error-message mb-2"><%= error %></div>
                      <% } %>
                      <div class="input-group mb-3 <%= error ? 'error' : '' %>">
                        <span class="input-group-text bg-transparent">
                          <i class="text-fade ti-email"></i>
                        </span>
                        <input
                          type="email"
                          id="email"
                          class="form-control ps-15 bg-transparent <%= error ? 'is-invalid' : '' %>"
                          placeholder="Your Email"
                          name="email"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 text-center">
                        <button
                          type="submit"
                          class="waves-effect waves-light btn mb-5 bg-gradient-warning w-p100 mt-10"
                        >
                          Reset
                        </button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <script src="/js/vendors.min.js"></script> -->

    <!-- <script src="/js/pages/chat-popup.js"></script> -->
    <!-- <script src="/assets/icons/feather-icons/feather.min.js"></script> -->
  </body>
</html>
