<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/validation.css" />
    <style>
      .password-toggle {
        position: absolute;
        left: 95%;
      }
      .passwordConfirm-toggle {
        position: absolute;
        left: 95%;
      }
           .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 2px;
        }
        .password-requirements {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
  }

  .password-requirements strong {
    color: #333;
  }

  .password-requirements ul {
    margin: 0;
    padding-left: 20px;
  }
    </style>
  </head>

  <body
    class="hold-transition theme-primary bg-img"
    style="background-image: url(../../../images/auth-bg/bg-16.jpg)"
  >
    <div class="container h-p100">
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="row align-items-center justify-content-md-center h-p100">
        <div class="col-12">
          <div class="row justify-content-center g-0">
            <div class="col-lg-5 col-md-5 col-12">
              <div class="bg-white rounded10 shadow-lg">
                <div class="content-top-agile p-20 pb-0">
                  <img src="/images/blacktrans.png" alt="logo" width="300" />
                </div>
                <div class="p-40">
                  <form class="rform__modified" action="" method="post">
                    <div class="form-group">
                      <span class="error" id="nameError"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group mb-3" id="email__error">
                        <span class="input-group-text"
                          ><i class="text-fade ti-email"></i
                        ></span>
                        <input
                          type="email"
                          name="email"
                          style="width: 92%"
                          class="form-control ps-15 p-10"
                          placeholder="Email"
                          id="email"
                          required
                          onblur="checkEmailExistence()"
                        />
                      </div>
                      <span class="error" id="emailError"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group mb-3" id="password__error">
                        <span class="input-group-text"
                          ><i class="text-fade ti-lock"></i
                        ></span>
                        <input
                          type="password"
                          style="width: 92%"
                          class="form-control ps-15 p-10"
                          placeholder="Password"
                          id="password"
                          name="password"
                          required
                        />
                        <i
                          class="password-toggle fas fa-eye-slash"
                          onclick="togglePasswordVisibility()"
                        ></i>
                      </div>
                      <span class="error" id="passwordError"></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group mb-3" id="password__c__error">
                        <span class="input-group-text"
                          ><i class="text-fade ti-lock"></i
                        ></span>
                        <input
                          type="password"
                          style="width: 92%"
                          class="form-control ps-15 p-10"
                          placeholder="Retype Password"
                          id="passwordConfirm"
                          name="passwordConfirm"
                          required
                        />
                        <i
                          class="passwordConfirm-toggle fas fa-eye-slash"
                          onclick="togglePasswordVisibilityX()"
                        ></i>
                      </div>
                      <span class="error" id="passwordConfirmError"></span>
                    </div>
<div class="password-requirements">
    <p>Password must contain:</p>
    <ul>
      <li>At least one special character (e.g., !, @, #, $, etc.)</li>
      <li>At least one uppercase letter (A-Z)</li>
      <li>At least one lowercase letter (a-z)</li>
      <li>At least one number (0-9)</li>
    </ul>
  </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="checkbox">
                          <input
                            type="checkbox"
                            id="basic_checkbox_1"
                            required
                          />
                          <label for="basic_checkbox_1"
                            >I agree to the
                            <a href="#" class="text-primary text-warning"
                              >Terms</a
                            ></label
                          >
                        </div>
                      </div>
                      <span class="error" id="checkError"></span>
                      <!-- /.col -->
                      <div class="col-12 text-center">
                        <button
                          type="submit"
                          class="waves-effect waves-light btn mb-5 bg-gradient-warning w-p100 mt-10"
                          onclick="validateForm(event)" onclick="startSpinner();"> <span id="spinner" style="display: none;">
    <i class="fas fa-spinner fa-spin"></i></span>
                          REGISTER
                        </button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                  <div class="text-center">
                    <p class="mt-15 mb-0 text-fade">
                      Already have an account?<a
                        href="/user/login"
                        class="text-primary ms-5 text-warning"
                        >Sign In</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor JS -->
    <script>
    
      function checkEmailExistence() {
        const emailInput = document.getElementById('email');
        const emailError = document.getElementById('emailError');

        // Get the email value from the input field
        const email = emailInput.value;

        // Get the current protocol and host from window.location
        const protocol = window.location.protocol;
        const host = window.location.host;

        // Construct the dynamic URL
        const url = `${protocol}//${host}/user/register`;

        // Send a request to the server to check if the email exists
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email }),
        })
          .then(response => response.json())
          .then(data => {
            if (data.error) {
              // Email exists, display error message
              emailError.textContent = data.error;
            } else {
              // Email doesn't exist, clear error message
              emailError.textContent = '';
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
    </script>

    <script src="/js/registerval.js"></script>
    <%- include('layouts/formscript') %>
  </body>
</html>
