<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('layouts/head') %>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('layouts/header') %>
      </header>
      <aside
        class="main-sidebar"
        style="border-right: 1px solid rgb(203, 203, 203)"
      >
        <!-- sidebar-->
        <%- include('layouts/aside') %>
      </aside>
      <div
        class="content-wrapper bg-white"
        style="border-radius: 0; border-top: 1px solid #cbcbcb"
      >
        <div class="container mt-30">
          <img
            src="/images/header/2FA_Web_113732.png"
            alt="refaral"
            srcset=""
          />
          <section class="content">
<div class="col-xl-4 col-lg-4 offset-md-4">
<div class="card">
    <div class="card-body text-center">
      
      
      <% if (user.twoFactorSecret && user.isTwoFactorEnabled && user.isTwoFactorSetupComplete) { %>
        <!-- Form to disable 2FA -->
        <h3>To disable 2fa click on this button </h3>
        <br>
        <form action="/user/2fa-disable" method="post">
          <button  class="btn bg-gradient-danger"type="submit">Disable 2FA</button>
        </form>
<br>
      <% } else { %>
        <!-- Form to enable 2FA -->
        <h3>To enable 2fa click on this button </h3>
        <br>
        <form action="/user/2fa-generate" method="get">
          <button  class="btn bg-gradient-info-dark" type="submit">Enable 2FA</button>
        </form>
        <br>
      <% } %>

</div>
  </div> <!-- end card -->
</div> <!-- end col -->

			</div>
			<!-- end row-->

		</section>
		<!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer bg-white">
        <!-- footer -->
        <%- include('layouts/footer') %>
      </footer>
    
  </body>
  
 
</html>
