<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <section class="content">
            <h2
              style="
                background-color: #46bc5c7d;
                color: #fff;
                display: inline-block;
                padding: 7px;
                border-radius: 11px;
                position: relative;
                left: 500px;
              "
            >
              <%= message%>
            </h2>
          </section>
        </div>
      </div>
    </div>
    <footer class="main-footer">
      <!-- footer-->
      <%- include('../layouts/footer') %>
    </footer>
  </body>
</html>
